body{font-family: 'Inter', sans-serif;font-size: 30px;}
a{text-decoration: none; }

@font-face {
  font-family: 'icons';
  src: url('../icone_contatti/Icons\ 2019.ttf');
}

ul{list-style-type: none;}
h1{color: black; margin-left: 500px; margin-top: 1300px;font-size: 60px; margin-bottom: -100px;} 
h2{color: black; margin-top: 0px; margin-left: 500px; font-size: 60px;}
p{line-height: 28px; color: white; font-weight: 300; float: left;}
h5{color: lightgrey; margin-left: 150px; margin-top: 170px;} 


.servizi{
  width: 300px;
  border-bottom: 1px solid black;
  font-weight: 700;
  margin-bottom: 10px;
  margin-left: -40px;
  color: lightgray;
}


.contatti{
  cursor: pointer;
  color:#b4b4b4;
  margin-left: -40px;
  padding: 10px;
  font-size: 20px;
}

.contatti:hover{
  color:white;
}


.cont{
  font-size: 25px;
  margin-top: 170px;
  margin-left: 50px;
}


.social_icon{
  font-size:40px;
  border-top: 1px solid black;
  margin-top: 200px;
  margin-left: -170px;
  padding-top: 50px;
  padding-right: 70px;
}


ul.social_icon li{
  margin-left: -10px;
  padding-left: 10px;
  display: inline;
} 

.social{
  cursor: pointer;
  font-family: 'icons';
  border-radius: 10px;
}


ul#menu {
  position: absolute;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  margin-left: 1050px;
  padding: 0;
  list-style: none;
}

ul#menu li {
  background-color: #e81e25;
  display: block;
  width: 100px;
  height: 35px;
  margin: 2px;
  float: left;
}

ul#menu li a {
  color: black;
  display: block;
  font-weight: bold;
  line-height: 35px;
  text-decoration: none;
  width: 100px;
  height: 35px;
  text-align: center;
}

ul#menu li a:hover{
  background-color: darkred;
  color: lightcoral;
  transition: 0.5s;
}

.normal-text{font-size: 30px;color:white;}
 
*{scroll-behavior: smooth;}


.header{
  margin-top: 50px;
  width: 100px; 
  position: absolute;
  margin-left: 100px;
  display: flex;
}
.slider-container{ 
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 70px;
  overflow: hidden;
  margin: 0px auto;
  margin-right: 500px;
  margin-top: -700px;
}

.image-container { 
    width: 1550px;
    height: 300px;
    position: relative;
    transition: left 2s;
  }

.slider-image{
  width: 300px;
  height: 300px;
}



#slider-image-1:target ~ .image-container
{left: 0px;}
#slider-image-2:target ~ .image-container
{left: -310px;}
#slider-image-3:target ~ .image-container
{left: -617px;}
#slider-image-4:target ~ .image-container
{left: -920px;}
#slider-image-5:target ~ .image-container
{left: -1235px;}

.button-container {
	position: relative;
	top: -50px;
  text-align: center;
}

.slider-change {
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 5px;
	background-color:darkred;
}


.foto {
  width: 250px;
  height: 250px;
  border-radius: 500px;
  margin-left: 350px;
  margin-top: 250px;
}


.hero {
  margin: 0%;
  height: 700px;
  display: flex; width: 100%; align-items: center;
  background: url('../img/home_sfondo.png') no-repeat center center;
  background-size: cover;
}

.hero__content {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
}

.button {
  outline: none;
  width: 130px;
  height: 60px;
  background: lightgrey;
  color: black;
  margin-left: 10px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}
 

.button:hover {
  background: gray;
  transition: 0.5s;
}


#contenuto {
  background-image: url('../img/home_sfondo.png');
}


.footer {
  display: flex;
  width: 100%; 
  height: 500px; 
  margin-top: 400px;
  background: #1c1e21;
}

.container {
  margin-top: 100px;
  margin-left: -130px;
  position: absolute;
  height: 500px;
  width: 100%;
  display: flex;
}

.ciao {
  width: 150px;
  margin-left: 60px;
}

.card {
  display: flex;
  height: 200px;
  width: 150px;
  background-size: cover;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  margin-left: 50px;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:hover {
  transform: scale(1.1);
  transition: 0.4s ease-out;
}


.carrello {
  margin-top: -50px;
  background-color: lightgray;
}


.indietro-carrello {
  padding: 6.5px 18px;
  vertical-align: middle;
}


.risultato-carrello {
  padding-left: 40px;
  word-spacing: 15px;
} 


#catalogo-articoli{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  row-gap: 2em;
}

.prezzo{
  font-size: 25px;
  color: black;
  margin-left: 75px;
  margin-top: -30px;
}

.button-carrello{
  outline: none;
   width: 130px;
   height: 60px;
   background: lightgray;
   color: black;
   margin-left: 700px;
   margin-bottom: 50px;
   font-size: 20px;
   border-radius: 10px;
   cursor: pointer;
 }

.button-carrello:hover{
  background-color: gray;
  transition: 0.5s;
}
.button-home{
   width: 130px;
   height: 60px;
   background: gray;
   color: black;
   margin-left: -785px;
   font-size: 30px;
   border-radius: 10px;
   cursor: pointer;
 }

 .button-home:hover{
  background: lightgrey;
  transition: 0.5s;
 }