body{font-family: 'Inter', sans-serif;font-size: 30px;}
a{text-decoration: none;}



h1{color: black; margin-left: 500px; margin-top: 1300px;font-size: 60px; margin-bottom: -100px;} 
h2{color: black; margin-left: 500px; margin-top: 800px; font-size: 60px;margin-bottom: -100px}
h4{color: #000; margin-left: 500px; margin-top: 700px;font-size: 60px;margin-bottom: -100px}
p{line-height: 28px; color: white; font-weight: 300; float: left;}



.big-text{font-size: 50px; }
.med-text{font-size: 40px;}
.normal-text{font-size: 30px;color:white;}
.small-text{font-size: 14px;}
 
.logo4_{width: 40px; 
  margin-left: -40px;
  height: 40px;
  margin-top: 220px;  
  border-radius: 300px;
}
  .logo6_{width: 40px; 
      height: 40px;
      margin-top: 165px;
      margin-left: -40px;
      border-radius: 200px;  
    }

     
    .logo3_{width: 40px; 
  margin-right: -100px;
  height: 40px;
  margin-top: 28px;  
  border-radius: 300px;
 
}
  .logo5_{width: 40px; 
      height: 40px;
      margin-top: 80px;
      border-radius: 200px;  

      }

     
      .logo7_{width: 40px; 
        height: 40px;
        margin-top: 300px;
        margin-left: -40px;
        border-radius: 200px; 
      }
  

      .logo8_{width: 40px; 
        height: 40px;
        margin-top: 360px;
        margin-left: -40px;
        border-radius: 200px;  
      }
  


#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
#menu__tog:checked ~ .menu__box {
  left: 0 !important;
}



.menu__btn {
  position: absolute;
  top: 65px;
  left: 40px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {  
 display: block;
position: absolute;
  top: 20px;
  left: -100%;
  width: 225px;
  height: 610px;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: lightgray;
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;

}
.menu__item:hover {
  background-color: tomato;
}


.header{
  width: 100px; 
  position: absolute;
margin-left: 100px;
display: flex;
}
.slider-container
{ 
    position: relative;
    width: 300px;
    height: 300px;
   border-radius: 70px;
  overflow: hidden;
  margin: 0px auto;
margin-right: 500px;
margin-top: -1550px;
}

.image-container
{ 
    width: 1550px;
   height: 300px;
    position: relative;
    transition: left 2s;
}

.slider-image{width: 300px;
height: 300px;

}



#slider-image-1:target ~ .image-container
{
   left: 0px;
}
#slider-image-2:target ~ .image-container
{
   left: -310px;
}
#slider-image-3:target ~ .image-container
{
   left: -617px;
}
#slider-image-4:target ~ .image-container
{
   left: -920px;
}#slider-image-5:target ~ .image-container
{
   left: -1235px;
}

.button-container
{
	position: relative;
	top: -50px;
    text-align: center;
}
.slider-change
{
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 5px;
	background-color:darkred;
}


.foto{
  width: 250px;
  height: 250px;
  border-radius: 500px;
  margin-left: 350px;
  margin-top: 250px;
}


.hero{
height: 800px;
margin-top: -50px;
display: flex; width: 100%; align-items: center;
background: url('img/5.png') no-repeat center center;
background-size: cover;
}

.hero__content{
width: 100%;
max-width: 1350px;
margin: 0 auto;
}

.articoli
{
	display: grid;
	height: 750px;
	grid-template-rows: 200px 200px 200px;
	text-align: center;
  background: url('img/33.png') no-repeat center center;
  background-size: cover;
  
}

.row
{
	display: grid;
	grid-template-columns: 50% 50%;
}

.column
{
	margin-top: 10px;
}
    

.button{
  outline: none;
  width: 110px;
  height: 60px;
background: #e81e25;
   color: black;
 font-size: 20px;
margin-top: 70px;
margin-right: 200px;
   border-radius: 10px;
 }
 
.button:hover{
  background: orange;
  color: black;
  transition: 0.5s;
}

.text{
  text-align: center center;
  font-size: 32px;
  font-weight: 100;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: red;
  line-height: 110%;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}


.footer {display: flex; ;
    width: 100%; 
    height: 700px; 
   margin-top: 800px;
    background: url('img/26.png') no-repeat center center ; 
    background-size: cover;
  
}

.container {
  margin-top: 150px;
  margin-left: -150px;
  position: absolute;
  height: 500px;
  width: 100%;
  display: flex;
}
.container2 {
  margin-top: 150px;
  margin-left: -150px;
  position: absolute;
  height: 500px;
  width: 100%;
  display: flex;
}
.container3 {
  margin-top: 150px;
  margin-left: -150px;
  position: absolute;
  height: 700px;
  width: 100%;
  display: flex;
}


.card {
  display: flex;
  height: 280px;
  width: 200px;
background-size: cover;
background-image: url('img/20.png');  
border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
margin-left: 300px;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card1 {
  display: flex;
  height: 280px;
  width: 200px;
background-size: cover;
background-image: url('img/17.png');  
border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
margin-left: 300px;
  transition: 0.4s ease-out;
  position: relative;
  left: 100px;
}
.card2 {
  display: flex;
  height: 280px;
  width: 200px;
background-size: cover;
background-image: url('img/9.png');  
border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
margin-left: 300px;
  transition: 0.4s ease-out;
  position: relative;
  left: 200px;
}
.card3 {
  display: flex;
  height: 280px;
  width: 200px;
background-size: cover;
background-image: url('img/6.png');  
border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
margin-left: 300px;
  transition: 0.4s ease-out;
  position: relative;
  left: 300px;
}

.card4 {
  display: flex;
  height: 280px;
  width: 200px;
background-size: cover;
background-image: url('img/36.png');  
border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
margin-left: 300px;
  transition: 0.4s ease-out;
  position: relative;
  left: 400px;
}

.card5 {
  display: flex;
  height: 280px;
  width: 200px;
background-size: cover;
background-image: url('img/37.png');  
border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
margin-left: 300px;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card6 {
  display: flex;
  height: 280px;
  width: 200px;
background-size: cover;
background-image: url('img/38.png');  
border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
margin-left: 300px;
  transition: 0.4s ease-out;
  position: relative;
  left: 100px;
}
.card7 {
  display: flex;
  height: 280px;
  width: 200px;
background-size: cover;
background-image: url('img/39.png');  
border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
margin-left: 300px;
  transition: 0.4s ease-out;
  position: relative;
  left: 200px;
}
.card8 {
  display: flex;
  height: 280px;
  width: 200px;
background-size: cover;
background-image: url('img/40.png');  
border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
margin-left: 300px;
  transition: 0.4s ease-out;
  position: relative;
  left: 300px;
}

.card9 {
  display: flex;
  height: 280px;
  width: 200px;
background-size: cover;
background-image: url('img/41.png');  
border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
margin-left: 300px;
  transition: 0.4s ease-out;
  position: relative;
  left: 400px;
}
.card10 {
  display: flex;
  height: 280px;
  width: 200px;
background-size: cover;
background-image: url('img/42.png');  
border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
margin-left: 300px;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card11 {
  display: flex;
  height: 280px;
  width: 200px;
background-size: cover;
background-image: url('img/43.png');  
border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
margin-left: 300px;
  transition: 0.4s ease-out;
  position: relative;
  left: 100px;
}
.card12 {
  display: flex;
  height: 280px;
  width: 200px;
background-size: cover;
background-image: url('img/44.png');  
border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
margin-left: 300px;
  transition: 0.4s ease-out;
  position: relative;
  left: 200px;
}
.card13 {
  display: flex;
  height: 280px;
  width: 200px;
background-size: cover;
background-image: url('img/45.png');  
border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
margin-left: 300px;
  transition: 0.4s ease-out;
  position: relative;
  left: 300px;
}

.card14 {
  display: flex;
  height: 280px;
  width: 200px;
background-size: cover;
background-image: url('img/46.png');  
border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
margin-left: 300px;
  transition: 0.4s ease-out;
  position: relative;
  left: 400px;
}


.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
transform: translateY(-20px);
transition: 0.4s ease-out;
}

.card:hover ~ .card {
position: relative;
left: 50px;
transition: 0.4s ease-out;
}

.card1:not(:first-child) {
  margin-left: -50px;
}

.card1:hover {
transform: translateY(-20px);
transition: 0.4s ease-out;
}

.card1:hover ~ .card {
position: relative;
left: 50px;
transition: 0.4s ease-out;
}
.card2:not(:first-child) {
  margin-left: -50px;
}

.card2:hover {
transform: translateY(-20px);
transition: 0.4s ease-out;
}

.card2:hover ~ .card {
position: relative;
left: 50px;
transition: 0.4s ease-out;
}
.card3:not(:first-child) {
  margin-left: -50px;
}

.card3:hover {
transform: translateY(-20px);
transition: 0.4s ease-out;
}

.card3:hover ~ .card {
position: relative;
left: 50px;
transition: 0.4s ease-out;
}


.card4:not(:first-child) {
  margin-left: -50px;
}

.card4:hover {
transform: translateY(-20px);
transition: 0.4s ease-out;
}

.card4:hover ~ .card {
position: relative;
left: 50px;
transition: 0.4s ease-out;
}


.card5:not(:first-child) {
  margin-left: -50px;
}

.card5:hover {
transform: translateY(-20px);
transition: 0.4s ease-out;
}

.card5:hover ~ .card {
position: relative;
left: 50px;
transition: 0.4s ease-out;
}

.card6:not(:first-child) {
  margin-left: -50px;
}

.card6:hover {
transform: translateY(-20px);
transition: 0.4s ease-out;
}

.card6:hover ~ .card {
position: relative;
left: 50px;
transition: 0.4s ease-out;
}
.card7:not(:first-child) {
  margin-left: -50px;
}

.card7:hover {
transform: translateY(-20px);
transition: 0.4s ease-out;
}

.card7:hover ~ .card {
position: relative;
left: 50px;
transition: 0.4s ease-out;
}
.card8:not(:first-child) {
  margin-left: -50px;
}

.card8:hover {
transform: translateY(-20px);
transition: 0.4s ease-out;
}

.card8:hover ~ .card {
position: relative;
left: 50px;
transition: 0.4s ease-out;
}


.card9:not(:first-child) {
  margin-left: -50px;
}

.card9:hover {
transform: translateY(-20px);
transition: 0.4s ease-out;
}

.card9:hover ~ .card {
position: relative;
left: 50px;
transition: 0.4s ease-out;
}
.card10:not(:first-child) {
  margin-left: -50px;
}

.card10:hover {
transform: translateY(-20px);
transition: 0.4s ease-out;
}

.card10:hover ~ .card {
position: relative;
left: 50px;
transition: 0.4s ease-out;
}

.card11:not(:first-child) {
  margin-left: -50px;
}

.card11:hover {
transform: translateY(-20px);
transition: 0.4s ease-out;
}

.card11:hover ~ .card {
position: relative;
left: 50px;
transition: 0.4s ease-out;
}
.card12:not(:first-child) {
  margin-left: -50px;
}

.card12:hover {
transform: translateY(-20px);
transition: 0.4s ease-out;
}

.card12:hover ~ .card {
position: relative;
left: 50px;
transition: 0.4s ease-out;
}
.card13:not(:first-child) {
  margin-left: -50px;
}

.card13:hover {
transform: translateY(-20px);
transition: 0.4s ease-out;
}

.card13:hover ~ .card {
position: relative;
left: 50px;
transition: 0.4s ease-out;
}


.card14:not(:first-child) {
  margin-left: -50px;
}

.card14:hover {
transform: translateY(-20px);
transition: 0.4s ease-out;
}

.card14:hover ~ .card {
position: relative;
left: 50px;
transition: 0.4s ease-out;
}



.title {
color: white;
background: #000;
font-weight: 300;
position: absolute;
margin-top: 200px;
margin-left: 50px;
}